<!DOCTYPE html>
<html lang="zxx" dir="ltr">


    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
        <meta name="robots" content="index, follow" />
        {% comment %} <meta name="description" content="Hmart-Smart Product eCommerce html Template"> {% endcomment %}
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/logo/header.png' %}" />
        <!-- CSS
        ============================================ -->
        <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/font.awesome.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/pe-icon-7-stroke.css' %}" />
        <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/venobox.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/jquery-ui.min.css' %}">
        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
        <!-- Minify Version -->
        <link rel="stylesheet" href="{% static 'assets/css/plugins.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>
        

        
    </head>

    <body>

        <div class="main-wrapper">
            <header>
                <!-- Header top area start -->
                <div class="header-top">
                    <div class="container">
                        <div class="row justify-content-between align-items-center">
                            <div class="col">
                                <div class="welcome-text">
                                    <p>Empower Your Style Journey with streeboutique</p>
                                </div>
                            </div>
                            <div class="col d-none d-lg-block">
                                <div class="top-nav">
                                    <ul>
                                        <li><a href="tel:0123456789"><i class="fa fa-phone"></i> +012 3456 789</a></li>
                                        <li><a href="mailto:demo@example.com"><i class="fa fa-envelope-o"></i> streeboutique20@gmail.com</a></li>
                                        {% if user.is_authenticated %}
                                        <li><a href="{% url 'logout' %}"><i class="fa fa-user"></i> Logout</a></li>
                                        {% else %}
                                        <li><a href="{% url 'login' %}"><i class="fa fa-user"></i> Login</a></li>
                                         {% endif %}          
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Header top area end -->
                <!-- Header action area start -->
                <div class="header-bottom  d-none d-lg-block">
                    <div class="container">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-3 col">
                                <div class="header-logo">
                                    <a href="index.html"><img src="{% static 'assets/images/logo/stree.png' %}" height=105 width=85 alt="Site Logo"  style="margin-left:25%;"/></a>
                                </div>
                            </div>
                            <div class="col-lg-6 d-none d-lg-block">
                                <div class="search-element" style="margin-left:10%">
                                    <form action="/search/" method="GET">
                                        <input type="text" placeholder="Search" name="query" id="query"/>
                                        <button><i class="pe-7s-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col">
                                <div class="header-actions" style= "margin-right:20%">
                                    <!-- Single Wedge Start -->
                                    <a href="{% url 'wishlist' %}" class="header-action-btn ">
                                        <i class="pe-7s-like"></i>
                                    </a>
                                    <span style="margin-right: 10px;"></span>
                                    <!-- Single Wedge End -->
                                    <a href="{% url 'cart' %}" class="header-action-btn">
                                        <i class="pe-7s-shopbag"></i>
                                        
                                        <!-- <span class="cart-amount">€30.00</span> -->
                                    </a>
                                    <span style="margin-right: 10px;"></span>
                                    <a href="{% url 'order_page' %}" class="header-action-btn "><i class="pe-7s-user"></i></a>
                                    <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                                        <i class="pe-7s-menu"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Header action area end -->
                <!-- Header action area start -->
                <div class="header-bottom d-lg-none sticky-nav style-1">
                    <div class="container">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-lg-3 col">
                                <div class="header-logo">
                                    <a href="index.html"><img src="{% static 'assets/images/logo/stree.png' %}" height=50 width=50 alt="Site Logo" /></a>
                                </div>
                            </div>
                            <div class="col-lg-6 d-none d-lg-block">
                                <div class="search-element">
                                    <form action="/srarch/" method="get">
                                        <input type="text" placeholder="Search" name="query" id="query" />
                                        <button><i class="pe-7s-search"></i></button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-3 col">
                                <div class="header-actions">
                                    <!-- Single Wedge Start -->
                                    <a href="{% url 'wishlist' %}" class="header-action-btn ">
                                        <i class="pe-7s-like"></i>
                                    </a>

                                    
                                    <!-- Single Wedge End -->
                                    <a href="{% url 'cart' %}" class="header-action-btn">
                                        <i class="pe-7s-shopbag"></i>
                                        
                                        <!-- <span class="cart-amount">€30.00</span> -->
                                    </a>

                                   
                                    <a href="#offcanvas-mobile-menu" class="header-action-btn header-action-btn-menu offcanvas-toggle d-lg-none">
                                        <i class="pe-7s-menu"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Header action area end -->
                <!-- header navigation area start -->
                <div class="header-nav-area d-none d-lg-block sticky-nav">
                    <div class="container">
                        <div class="header-nav">
                            <div class="main-menu position-relative" >
                                <ul>
                                    <li class="dropdown"><a href="{% url 'home' %}">streeboutique <i class="fa fa-angle-down"></i></a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'term_condition' %}">Term & Conditions</a></li>
                                            <li><a href="{% url 'private_policy' %}">Private Policy</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'about_us' %}">About Us</a></li>
                                   
                                    <li class="dropdown position-static"><a style="color:white">Categories<i class="fa fa-angle-down"></i></a>
                                        <ul class="mega-menu d-block">
                                            <li class="d-flex">
                                                <ul class="d-block">
                                                    <li class="title"><a style="color:#0d6efd;">Women Ethnic Wear</a></li>
                                                    <li><a href="/shop/?categories_id=9" class="selected m-0">Saree</a></li>
                                                    <li><a href="/shop/?categories_id=10" class="selected m-0">Kurta Sets</a></li>
                                                    <li><a href="/shop/?categories_id=11">Kurti</a></li>
                                                    <li><a href="/shop/?categories_id=12">Lehengas</a></li>
                                                    <li><a href="/shop/?categories_id=35">Duptta</a></li>
                                                </ul>
                                                
                                                
                                                <ul class="d-block">
                                                    <li class="title"><a style="color:#0d6efd;">Women Western Wear</a></li>
                                                    <li><a href="/shop/?categories_id=13">Tops & Tunics</a></li>
                                                    <li><a href="/shop/?categories_id=14">Bottomwear</a></li>
                                                    <li><a href="/shop/?categories_id=15">sleepwear</a></li>
                                                    <li><a href="/shop/?categories_id=16">sports wear</a></li>
                                                </ul>
                                                <ul class="d-block">
                                                    <li class="title"><a style="color:#0d6efd;">Women Jewellery</a></li>
                                                    <li><a href="/shop/?categories_id=17">Earrings</a></li>
                                                    <li><a href="/shop/?categories_id=18">Jewellery Sets & Necklaces</a></li>
                                                    <li><a href="/shop/?categories_id=19">Rings</a></li>
                                                    <li><a href="/shop/?categories_id=20">Bracelets & Bangles</a></li>
                                                    <li><a href="/shop/?categories_id=21">Anklets & Nosepins</a></li>
                                                </ul>
                                                <ul class="d-block">
                                                    <li class="title"><a style="color:#0d6efd;">Women Footwear</a></li>
                                                    <li><a href="/shop/?categories_id=22">Heels</a></li>
                                                    <li><a href="/shop/?categories_id=23">Flates</a></li>
                                                    <li><a href="/shop/?categories_id=24">Boots</a></li>
                                                    <li><a href="/shop/?categories_id=25">Bellies</a></li>
                                                </ul>
                                                <ul class="d-block">
                                                    <li class="title"><a style="color:#0d6efd;">Women Bages</a></li>
                                                    <li><a href="/shop/?categories_id=26">Backpaks</a></li>
                                                    <li><a href="/shop/?categories_id=27">Handbags</a></li>
                                                    <li><a href="/shop/?categories_id=28">Wallets</a></li>
                                                    <li><a href="/shop/?categories_id=29">Slingbags</a></li>
                                                </ul>
                                                <ul class="d-block">
                                                    <li class="title"><a style="color:#0d6efd;">Women Beauty</a></li>
                                                    <li><a href="/shop/?categories_id=30">Lipstick</a></li>
                                                    <li><a href="/shop/?categories_id=31">Eye Shadow</a></li>
                                                    <li><a href="/shop/?categories_id=32">Nailpolish</a></li>
                                                    <li><a href="/shop/?categories_id=33">Perfumes</a></li>
                                                    <li><a href="/shop/?categories_id=34">Makeup</a></li>
                                                </ul>
                                                <ul class="d-flex align-items-center p-0 border-0 flex-column justify-content-center">
                                                    <li>
                                                        <a class="p-0" href="shop-left-sidebar.html"><img class="img-responsive w-100" src="{% static 'assets/images/logo/header.png' %}" alt=""></a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                    <li class="dropdown position-static"><a href="{% url 'shop' %}">Shop</a>
                                    </li>
                                    <li class="dropdown "><a href="{% url 'service' %}">Services <i></i></a>
                                    </li>
                                    <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- header navigation area end -->
                <div class="mobile-search-box d-lg-none">
                    <div class="container">
                        <!-- mobile search start -->
                        <div class="search-element max-width-100">
                            <form action="/search/" method="get">
                                <input type="text" placeholder="Search" name="query" id="query" />
                                <button><i class="pe-7s-search"></i></button>
                            </form>
                        </div>
                        <!-- mobile search end -->
                    </div>
                </div>
            </header>
            <!-- offcanvas overlay start -->
            <div class="offcanvas-overlay"></div>
            <!-- offcanvas overlay end -->
            <!-- OffCanvas Wishlist Start -->
            <div id="offcanvas-wishlist" class="offcanvas offcanvas-wishlist">
                <div class="inner">
                    <div class="head">
                        <span class="title">Wishlist</span>
                        <button class="offcanvas-close">×</button>
                    </div>
                    <div class="body customScroll">
                        <ul class="minicart-product-list">
                            <li>
                                <a href="single-product.html" class="image"><img src="{% static 'assets/images/product-image/1.webp' %}" alt="Cart product Image"></a>
                                <div class="content">
                                    <a href="single-product.html" class="title">Modern Smart Phone</a>
                                    <span class="quantity-price">1 x <span class="amount">$21.86</span></span>
                                    <a href="#" class="remove">×</a>
                                </div>
                            </li>
                            <li>
                                <a href="single-product.html" class="image"><img src="{% static 'assets/images/product-image/2.webp' %}" alt="Cart product Image"></a>
                                <div class="content">
                                    <a href="single-product.html" class="title">Bluetooth Headphone</a>
                                    <span class="quantity-price">1 x <span class="amount">$13.28</span></span>
                                    <a href="#" class="remove">×</a>
                                </div>
                            </li>
                            <li>
                                <a href="single-product.html" class="image"><img src="{% static 'assets/images/product-image/3.webp' %}" alt="Cart product Image"></a>
                                <div class="content">
                                    <a href="single-product.html" class="title">Smart Music Box</a>
                                    <span class="quantity-price">1 x <span class="amount">$17.34</span></span>
                                    <a href="#" class="remove">×</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="foot">
                        <div class="buttons">
                            <a href="wishlist.html" class="btn btn-dark btn-hover-primary mt-30px">view wishlist</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- OffCanvas Wishlist End -->
            <!-- OffCanvas Cart Start -->

            


            {% comment %} <div id="offcanvas-cart" class="offcanvas offcanvas-cart">
                <div class="inner">
                    <div class="head">
                        <span class="title">Cart</span>
                        <button class="offcanvas-close">×</button>
                    </div>
                    <div class="body customScroll">
                        <ul class="minicart-product-list">

                            {% if request.session.cart|length < 1 %}

                            <!-- Empty Cart area start -->
                            <div class="empty-cart-area pb-100px pt-100px">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="cart-heading">
                                                <h2>Your cart item</h2>
                                            </div>
                                            <div class="empty-text-contant text-center">
                                                <i class="pe-7s-shopbag"></i>
                                                <h3>There are no more items in your cart</h3>
                                                <a class="empty-cart-btn" href="{% url 'shop' %}">
                                                    <i class="fa fa-arrow-left"> </i> Continue shopping
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Empty Cart area end -->
                            {% else %}

                            {% for key,value in request.session.cart.items %}
                            <li>
                                <a href="single-product.html" class="image"><img src="{{value.image}}" alt="Cart product Image"></a>
                                <div class="content">
                                    <a href="single-product.html" class="title">{{value.name |truncatewords:4}}</a>
                                    <span class="quantity-price">{{value.quantity}} x <span class="amount">Rs.{{value.price}}</span></span>
                                    <a href="{% url 'item_clear' key %}" class="remove">×</a>
                                </div>
                            </li>
                            {% endfor %}

                            {% endif %}
                        </ul>
                    </div>
                    <div class="foot">
                        <div class="buttons mt-30px">
                            <a href="{% url 'cart' %}" class="btn btn-dark btn-hover-primary mb-30px">view cart</a>
                            <a href="{% url 'checkout' %}" class="btn btn-outline-dark current-btn">checkout</a>
                        </div>
                    </div>
                </div>
            </div> {% endcomment %}
            <!-- OffCanvas Cart End -->
            <!-- OffCanvas Menu Start -->
            <div id="offcanvas-mobile-menu" class="offcanvas offcanvas-mobile-menu">
                <button class="offcanvas-close"></button>
                <div class="user-panel">
                    <ul>
                        <li><a href="tel:0123456789"><i class="fa fa-phone"></i> +012 3456 789</a></li>
                        <li><a href="mailto:demo@example.com"><i class="fa fa-envelope-o"></i> demo@example.com</a></li>
                        <li><a href="my-account.html"><i class="fa fa-user"></i> Account</a></li>
                    </ul>
                </div>
                <div class="inner customScroll">
                    <div class="offcanvas-menu mb-4">
                        <ul>
                            <li class="dropdown"><a href="{% url 'home' %}">streeboutique </a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'term_condition' %}">Term & Conditions</a></li>
                                            <li><a href="{% url 'private_policy' %}">Private Policy</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url 'about_us' %}">About Us</a></li>
                            <li>
                                <a href="#"><span class="menu-text">Categories</span></a>
                                <ul class="sub-menu">
                                    <li>
                                        <a><span class="menu-text">Women Ethnic Wear</span></a>
                                        <ul class="sub-menu">
                                            <li><a href="/shop/?categories_id=9" class="selected m-0">Saree</a></li>
                                            <li><a href="/shop/?categories_id=10" class="selected m-0">Kurta Sets</a></li>
                                            <li><a href="/shop/?categories_id=11">Kurti</a></li>
                                            <li><a href="/shop/?categories_id=12">Lehengas</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><span class="menu-text">Women Western Wear</span></a>
                                        <ul class="sub-menu">
                                            <li><a href="/shop/?categories_id=13">Tops & Tunics</a></li>
                                            <li><a href="/shop/?categories_id=14">Bottomwear</a></li>
                                            <li><a href="/shop/?categories_id=15">sleepwear</a></li>
                                            <li><a href="/shop/?categories_id=16">sports wear</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><span class="menu-text">Women Jewellery</span></a>
                                        <ul class="sub-menu">
                                            <li><a href="/shop/?categories_id=17">Earrings</a></li>
                                            <li><a href="/shop/?categories_id=18">Jewellery Sets & Necklaces</a></li>
                                            <li><a href="/shop/?categories_id=19">Rings</a></li>
                                            <li><a href="/shop/?categories_id=20">Bracelets & Bangles</a></li>
                                            <li><a href="/shop/?categories_id=21">Anklets & Nosepins</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><span class="menu-text">Women Footwear</span></a>
                                        <ul class="sub-menu">
                                            <li><a href="/shop/?categories_id=22">Heels</a></li>
                                            <li><a href="/shop/?categories_id=23">Flates</a></li>
                                            <li><a href="/shop/?categories_id=24">Boots</a></li>
                                            <li><a href="/shop/?categories_id=25">Bellies</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><span class="menu-text">Women Bages</span></a>
                                        <ul class="sub-menu">
                                            <li><a href="/shop/?categories_id=26">Backpaks</a></li>
                                            <li><a href="/shop/?categories_id=27">Handbags</a></li>
                                            <li><a href="/shop/?categories_id=28">Wallets</a></li>
                                            <li><a href="/shop/?categories_id=29">Slingbags</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><span class="menu-text">Women Beauty</span></a>
                                        <ul class="sub-menu">
                                            <li><a href="/shop/?categories_id=30">Lipstick</a></li>
                                            <li><a href="/shop/?categories_id=31">Eye Shadow</a></li>
                                            <li><a href="/shop/?categories_id=32">Nailpolish</a></li>
                                            <li><a href="/shop/?categories_id=33">Perfumes</a></li>
                                            <li><a href="/shop/?categories_id=34">Makeup</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="dropdown position-static"><a href="{% url 'shop' %}">Shop</a>
                            </li>
                            <li class="dropdown "><a href="{% url 'service' %}">Services <i></i></a>
                            </li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        </ul>
                    </div>
                    <!-- OffCanvas Menu End -->
                    
                </div>
            </div>
        <!-- OffCanvas Menu End -->


        <!-- body start -->

        {% block content %}




        {% endblock %}

        <!-- body over -->

        <!-- Footer Area Start -->
        <div class="footer-area">
            <div class="footer-container">
                <div class="footer-top">
                    <div class="container">
                        <div class="row">
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 mb-md-30px mb-lm-30px">
                                <div class="single-wedge">
                                    <div class="footer-logo">
                                        <a href="index.html"><img src="{% static 'assets/images/logo/header.png' %}" alt="" height=150 width=150></a>
                                    </div>
                                    <p class="about-text">Empower Your Style Journey with streeboutique
                                    </p>
                                    <ul class="link-follow">
                                        <li>
                                            <a class="m-0" title="Twitter"   href="https://www.facebook.com/"><img src="{% static 'assets/images/facebook.png' %}" height=40 width=40></a>
                                        </li>
                                        <li>
                                            <a title="Tumblr" target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/"><img src="{% static 'assets/images/instagram.png' %}" height=40 width=40 >
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Facebook" target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/"><img src="{% static 'assets/images/youtube.png' %}" height=40 width=40 >
                                            </a>
                                        </li>
                                        <li>
                                            <a title="Instagram" target="_blank" rel="noopener noreferrer" href="https://x.com/"><img src="{% static 'assets/images/twitter.png' %}" height=40 width=40 >
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-60px">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">Services</h4>
                                    <div class="footer-links">
                                        <div class="footer-row">
                                            <ul class="align-items-center">
                                                <li class="li"><a class="single-link" href="{% url 'contact' %}">Contact</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'cart' %}">Shopping Cart</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'faq' %}">Faq</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'term_condition' %}">T&C</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'private_policy' %}">Private policy</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-6 mb-lm-30px pl-lg-40px">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">My Account</h4>
                                    <div class="footer-links">
                                        <div class="footer-row">
                                            <ul class="align-items-center">
                                                <li class="li"><a class="single-link" href="{% url 'order_page' %}">My Account</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'wishlist' %}">Wishlist</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'shop' %}">Shop</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'login' %}">Login</a></li>
                                                <li class="li"><a class="single-link" href="{% url 'logout' %}">Logout</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                            <!-- Start single blog -->
                            <div class="col-md-6 col-lg-3 col-sm-12">
                                <div class="single-wedge">
                                    <h4 class="footer-herading">Contact Info</h4>
                                    <div class="footer-links">
                                        <!-- News letter area -->
                                        <p class="address">Address: 
                                            Veraval - Junagadh Highway
                                            Opp. Realiance Petrol Pump
                                            At: Chanduvav </p>
                                        <p class="phone">Phone/Fax:<a href="tel:0123456789"> 0123456789</a></p>
                                        <p class="mail">Email:<a href="mailto:demo@example.com"> streeboutique20@gmail.com</a></p>
                                        
                                        <!-- News letter area  End -->
                                    </div>
                                </div>
                            </div>
                            <!-- End single blog -->
                        </div>
                    </div>
                </div>
                <div class="footer-bottom">
                    <div class="container">
                        <div class="line-shape-top line-height-1">
                            <div class="row flex-md-row-reverse align-items-center">
                                <div class="col-md-6 text-center text-md-end">
                                    {% comment %} <div class="payment-mth"><a href="#"><img class="img img-fluid" src="{% static 'assets/images/icons/payment.png' %}" alt="payment-image"></a></div> {% endcomment %}
                                </div>
                                <div class="col-md-6 text-center text-md-start">
                                    <p class="copy-text" style="margin-left:60%;text-align:center; width:80%;"> Copyright © 2024-2025 <strong>streeboutique</strong> All Write Reserved 
                                       Developed By <a class="company-name" href="https://themeforest.net/user/codecarnival/portfolio">
                                            <strong> Selja Chauhan & Kinjal Kansara </strong></a>.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Area End -->
    </div>
    <!-- Modal -->

    {% for i in product %}

    <div class="modal modal-2 fade" id="exampleModal-{{forloop.counter}}" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> <i class="pe-7s-close"></i></button>
                    <div class="row">
                        <div class="col-lg-6 col-sm-12 col-xs-12 mb-lm-30px mb-md-30px mb-sm-30px">
                            <!-- Swiper -->
                            <div class="swiper-container gallery-top">
                                <div class="swiper-wrapper">
                                    {% for i in i.images_set.all %}
                                    <div class="swiper-slide">
                                        
                                        <img class="img-responsive m-auto" src="/{{i.image}}" alt="" height=500>
                                        
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="swiper-container gallery-thumbs mt-20px slider-nav-style-1 small-nav">
                                <div class="swiper-wrapper">
                                    {% for i in i.images_set.all %}
                                    <div class="swiper-slide">
                                        <img class="img-responsive m-auto" src="/{{i.image}}" alt="" >
                                    </div>
                                    {% endfor %}
                                </div>
                                <!-- Add Arrows -->
                                <div class="swiper-buttons">
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12 col-xs-12" data-aos="fade-up" data-aos-delay="200">
                            <div class="product-details-content quickview-content">
                                <h2>{{i.name}}</h2>
                                <div class="pricing-meta">
                                    <ul class="d-flex">
                                        <li class="new-price">Rs.{{i.price}}</li>
                                    </ul>
                                </div>
                                <div class="pro-details-rating-wrap">
                                    <div class="rating-product">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <span class="read-review"><a class="reviews" href="#">( 2 Review )</a></span>
                                </div>
                                <p class="mt-30px"> {{i.description | truncatewords:50 | safe}}</p>
                                <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                    <span>SKU:</span>
                                    <ul class="d-flex">
                                        <li>
                                            <a href="#">{{i.u_id}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                    <span>Categories: </span>
                                    <ul class="d-flex">
                                        <li>
                                            <a href="#">{{i.categories}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pro-details-categories-info pro-details-same-style d-flex m-0">
                                    <span>Tags: </span>
                                    <ul class="d-flex"> 
                                        <li>
                                            {% for tag in i.tag_set.all %}
                                            
                                                <a href="#">{{tag.name}}, </a>

                                            {% endfor %}
                                        </li> 
                                        
                                    </ul>
                                </div>
                                <div class="pro-details-quality">
                                    
                                    <div class="pro-details-cart">
                                        <a href="/product/{{i.id}}"><button class="add-cart"> View
                                            </button></a>
                                    </div>
                                    <div class="pro-details-compare-wishlist pro-details-wishlist ">
                                        <a href="{% url 'add_to_wishlist' i.id %}"><i class="pe-7s-like"></i></a>
                                    </div>
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}

    <!-- Modal end -->
    <!-- Modal Cart -->
    {% for i in product %}
    <div class="modal customize-class fade" id="exampleModal-Cart-{{forloop.counter}}" tabindex="-1"   aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="pe-7s-close"></i></button>
                    <div class="tt-modal-messages">
                        <i class="pe-7s-check"></i> View Product
                    </div>
                    <div class="tt-modal-product">
                        <div class="tt-img">
                            <img src="/{{i.image}}" alt="Modern Smart Phone">
                        </div>
                        <h2 class="tt-title"><a href="#">{{i.name | truncatewords:3 }}</a></h2><br>
                        <a href="/product/{{i.id}}" >View</a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    {% endfor %}  

    <!-- Modal wishlist -->

    {% for i in product %}

    <div class="modal customize-class fade" id="exampleModal-Wishlist-{{forloop.counter}}" tabindex="-1"   aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="pe-7s-close"></i></button>
                    <div class="tt-modal-messages">
                        <i class="pe-7s-check"></i> Added to Wishlist successfully!
                    </div>
                    <div class="tt-modal-product">
                        <div class="tt-img">
                            <img src="/{{i.image}}" alt="Modern Smart Phone">
                        </div>
                        <h2 class="tt-title"><a href="#">{{i.name | truncatewords:3 }}</a></h2>
                        <a href="{% url 'add_to_wishlist' i.id %}" >Add To wishlist</a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    {% endfor %}
    
    {% comment %} <!-- Modal compare -->
    <div class="modal customize-class fade" id="exampleModal-Compare" tabindex="-1"   aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"><i class="pe-7s-close"></i></button>
                    <div class="tt-modal-messages">
                        <i class="pe-7s-check"></i> Added to compare successfully!
                    </div>
                    <div class="tt-modal-product">
                        <div class="tt-img">
                            <img src="{% static 'assets/images/product-image/1.webp' %}" alt="Modern Smart Phone">
                        </div>
                        <h2 class="tt-title"><a href="#">Modern Smart Phone</a></h2>
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}





        <!-- Global Vendor, plugins JS -->
        <!-- JS Files
        ============================================ -->
        <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.2.min.js' %}"></script>
        <script src="{% static 'assets/js/vendor/modernizr-3.11.2.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins/swiper-bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins/scrollUp.js' %}"></script>
        <script src="{% static 'assets/js/plugins/venobox.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins/jquery-ui.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins/mailchimp-ajax.js' %}"></script>

        <!-- Minify Version -->
        <script src="{% static 'assets/js/vendor.min.js' %}"></script>
        <script src="{% static 'assets/js/plugins.min.js' %}"></script>
        <script src="{% static 'assets/js/main.min.js' %}"></script>

        <!--Main JS (Common Activation Codes)-->
        <script src="{% static 'assets/js/main.js' %}"></script>

    </body>
</html>