{% extends "main/header_footer.html" %}

{% block content %}

{% load static %}

    <!-- breadcrumb-area start -->
<div class="breadcrumb-area" data-bg-image="{% static 'assets/images/shopping.gif' %}">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center">
                <h2 class="breadcrumb-title">Private Policy</h2>
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active">Private Policy</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->
<!-- term & conditions area start -->
<div class="container">
    <div class="other-section">
        
        <div class="ml-auto mr-auto col-lg-9">
            <div class="checkout-wrapper">
                <div class="inner-descripe" data-aos="fade-up" data-aos-delay="200">
                    <h4 class="title" style="margin-top:15%; text-align:center;color:#002d62;font-size:35px;">Read our Private policy</h4>
                    
                </div>
            </div>
        </div><br>

        <div class="box">
            <div class="about">
                <h3 class="panel-title">Security of Your Information</h3>
                <p>
                    We use industry-standard security measures to protect your information from unauthorized access, disclosure, alteration, or destruction. However, no method of transmission over the internet or electronic storage is completely secure.
                </p>
            </div><br>

            <div class="about">
                <h3 class="panel-title">Children's Privacy</h3>
                <p>
                    Our website and services are not intended for children under the age of 13. We do not knowingly collect personal information from children under 13 years of age.
                </p>
            </div><br>

            <div class="about">
                <h3 class="panel-title">How We Use Your Information</h3>
                <p>
                    To process and fulfill orders, including communicating order status and updates.<br>
                    To provide customer support and respond to inquiries.<br>
                    To send promotional emails, newsletters, and marketing communications if you have opted in to receive them.<br>
                    To improve our website, products, and services.<br>
                    To prevent fraudulent transactions and monitor for suspicious activity.<br>
                </p>
            </div><br>

            <div class="about">
                <h3 class="panel-title">Information We Collect</h3>
                <p>
                    Personal Information: We may collect personal information such as your name, email address, phone number, and address when you place an order, sign up for our newsletter, or participate in promotions.
                </p>
            </div><br>

            <div class="about">
                <h3 class="panel-title">Changes to This Privacy Policy </h3>
                <p>
                    We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. We encourage you to review this Privacy Policy periodically
                </p>
            </div><br>

            <div class="about">
                <h3 class="panel-title">Contact Us</h3>
                <p>
                    If you have any questions about this Privacy Policy or our practices, please contact us at streeboutique20.
                </p>
            </div>

            {% comment %} write here....... {% endcomment %}
            
        </div>
    </div>
</div><br><br><br><br>
<!-- term & conditions area end -->

{% endblock %}