{% extends "main/header_footer.html" %}

{% block content %}

{% load static %}   
    <!-- breadcrumb-area start -->
<div class="breadcrumb-area" data-bg-image="{% static 'assets/images/shopping.gif' %}">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-12 text-center">
                <h2 class="breadcrumb-title">Term & Conditions</h2>
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item active">Term & Conditions</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->
<!-- term & conditions area start -->
<div class="container">
    <div class="other-section">
        
        <div class="ml-auto mr-auto col-lg-9">
            <div class="checkout-wrapper">
                <div class="inner-descripe" data-aos="fade-up" data-aos-delay="200">
                    <h4 class="title" style="margin-top:15%; text-align:center;color:#002d62;font-size:35px;">Read our terms and conditions carefull</h4>
                    
                </div>
            </div>
        </div><br>

        <div class="box">
            <div class="about">
                <h3 class="panel-title">What is streeboutique and who operates it?</h3>
                <p>
                    The Application and the website at streeboutique ("Website") (collectively, "Platform") are operated by ......................
                </p>
            </div><br>

            <div class="about">
                <h3 class="panel-title">Contents Posted on Site</h3>
                <p>
                    All text, graphics, user interfaces, visual interfaces, photographs, trademarks, logos, sounds, music and artwork (collectively, "Content"), is a third party user generated content and Flipkart has no control over such third party user generated content as Flipkart is merely an intermediary for the purposes of this Terms of Use.
                </p>
            </div><br>

            <div class="about">
                <h3 class="panel-title">Mode of Payment</h3>
                <p>
                    On this Site may be made in the COD mode of payment is available for almost all pin codes within India. We do not ship internationally currently.
                </p>
            </div><br>

            <div class="about">
                <h3 class="panel-title">Limited License</h3>
                <p>
                    streeboutique reserves the right, at any time, without notice, and at its sole discretion, to terminate your license to use the Site and to block and prevent your future access the Site.
                </p>
            </div><br>

            <div class="about">
                <h3 class="panel-title">Termination</h3>
                <p>
                    These Terms of Use are effective unless and until terminated by either you or streeboutique.<br>
                    You may terminate the Terms of Use at any time, provided that you discontinue any further use of this Site. streeboutique may terminate the Terms of Use at any time and may do so without notice, and accordingly deny you access to the Site, such termination will be without any liability to the Site.<br>
                    Upon any termination of the Terms of Use by either you or streeboutique, you must promptly destroy all materials downloaded or otherwise obtained from this Site, as well as all copies of such materials, whether made under the Terms of Use or otherwise. Any such termination of the Terms of Use shall not cancel your obligation to pay for the product already ordered from the Site or affect any liability that may have arisen under the Terms of Use.
                </p>
            </div><br>

            <div class="about">
                <h3 class="panel-title">Site Security</h3>
                <p>
                    You are prohibited from violating or attempting to violate the security of the Site, including, without limitation,
                    accessing data not intended for you or logging onto a server or an account which you are not authorized to access;<br>
                    attempting to probe, scan or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization;<br>
                    attempting to interfere with service to any other user, host or network, including, without limitation, via means of submitting a virus to the Site, overloading, "flooding," "spamming," "mail bombing" or "crashing;"<br>
                    sending unsolicited email, including promotions and/or advertising of products or services; or<br>
                    forging any header or any part of the header information in any email or newsgroup posting. Violations of system or network security may result in civil or criminal liability<br>
                    streeboutique is entitled to investigate occurrences that may involve such violations and may involve, and co-operate with, law enforcement authorities in prosecuting users who are involved in such violations. You agree not to use any device, software or routine to interfere or attempt to interfere with the proper working of this Site or any activity being conducted on this Site. You agree, further, not to use or attempt to use any engine, software, tool, agent or other device or mechanism (including without limitation browsers, spiders, robots, avatars or intelligent agents) to navigate or search this Site other than the search engine and search agents available from streeboutique on this Site and other than generally available third party web browsers (e.g., Netscape Navigator, Microsoft Explorer).
                </p>
            </div><br>

            <div class="about">
                <h3 class="panel-title">E-Platform for Communication</h3>
                <p>
                    You agree, understand and acknowledge that the website is an online platform that enables you to purchase products listed on the website at the price indicated therein at any time from any location. 
                    You further agree and acknowledge that streeboutique is only a facilitator and is not and cannot be a party to or control in any manner any transactions on the website.
                </p>
            </div><br>

            <div class="about">
                <h3 class="panel-title">Access to streeboutique</h3>
                <p>
                    We will do our utmost to ensure that availability of the website will be uninterrupted and that transmissions will be error-free. 
                    However, due to the nature of the Internet, this cannot be guaranteed. 
                    Also, your access to the website may also be occasionally suspended or restricted to allow for repairs, maintenance, or the introduction of new facilities or services at any time without prior notice. 
                    We will attempt to limit the frequency and duration of any such suspension or restriction.
                </p>
            </div><br>

            <div class="about">
                <h3 class="panel-title">Children</h3>
                <p>
                    Use of streeboutique is available only to persons who can form a legally binding contract under the Indian Contract Act, 1872. If you are a minor i.e. under the age of 18 years, you may use streeboutique only with the involvement of a parent or guardian.
                </p>
            </div><br>

            <div class="about">
                <h3 class="panel-title">Communications</h3>
                <p>
                    When you visit streeboutique, you are communicating with us electronically. You will be required to provide a valid phone number while placing an order with us. We may communicate with you by e-mail, SMS, phone call or by posting notices on the website or by any other mode of communication.
                </p>
            </div><br>

            <div class="about">
                <h3 class="panel-title">Waiver</h3>
                <p>
                    If you breach these conditions and we take no action, we will still be entitled to use our rights and remedies in any other situation where you breach these conditions.
                </p>
            </div><br>

            <div class="about">
                <h3 class="panel-title">Customer Complaint Details</h3>
                <p>
                    The details pertaining to each customer complaint lodged (including the status of the complaint and tracking details) are provided in the return e-mails which are sent back to the customers.
                </p>
            </div><br>

            <div class="about">
                <h3 class="panel-title">CONTACT INFORMATION:</h3>
                <p>
                    Customer Service Desk<br>
                    E-mail id: streeboutique20@gmail.com<br>
                    Phone: 0123456789<br><br>
                    Contact Days: Monday to Saturday (8:00 a.m. to 10:00 p.m.)<br>
                    Sunday (10.00 a.m. to 7.00 p.m.)
                </p>
            </div><br>

            {% comment %} write here {% endcomment %}
            
        </div>
    </div>
</div><br><br><br><br>
<!-- term & conditions area end -->

{% endblock %}